h1,h2,h3,h4{
    text-align: center;
    font-size: 10;
    margin-left: 50px;
    margin-top: 20px;
}
p{
    margin-left: 30px; 
}
#legenda{
    text-align: right;
    opacity: 0.5;
}

img{ 
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 450px;
    width: 50%;
}
